:root{
    --navbar_bg: rgb(0,45,64,0.5);
    --navbar_color: white;
    --navbar_active_link: red;
    --hero_bg: rgba(19, 57, 73);
    --hero_color: rgb(95, 91, 91);
    --services_bg: #ffffff;
    --service_color: #4f5b6d;
    --services_card_color: #f7f7f7;
    --features_bg: #ffffff;
    --features_color: #4f5b6d;
    --features_card_color: #f7f7f7;
    --protofolio_bg: #ddd;
    --protofolio_color: white;
    --protofolio_text_color_1: #777;
    --protofolio_text_color_2: #ddd;
    --testimonial_bg: #ffffff;
    --testimonial_color: rgb(17, 16, 16);
    --about_us_bg: #4f5b6d;
    --skills_bg: #ddd;
    --prices_bg: #fff;
    --prices_card: #ddd;
    --contact-bg: #4f5b6d;
    --footer_color: blue;
    --footer_bg: #002d40;
    
    --landing_btn_color: blue;
    --landing_btn_bg: rgb(192, 192, 221);
    --call_to_action_btn_bg: gray;
    --call_to_action_color: rgb(236, 233, 233);
    --call_to_action_btn_bg_hover: red;
    --prices_icon_color: red;
    --prices_btn_color: rgb(255, 235, 235);
    --prices_btn_bg: gray;
    --prices_btn_bg_hover: rgb(73, 62, 62);
    --label_color: white;
    --text_color: #777;
    --footer_email_color: #ddd;
    --protofolio_btn_color: red;
    --btn_color: rgb(248, 248, 248);
    --btn_bg: rgb(43, 211, 66);
    --btn_bg_hover: rgb(73, 124, 81);
    --containers_padding: 0px;
    --primary_label_color: black;
    --secondry_label_color: rgb(33, 31, 31);
    --_3d_label_color: rgb(77, 77, 77);
}
*{margin: 0;padding: 0;box-sizing: border-box;font-family: tahoma;}
.slider .text_container{
    display: none;
}
.content_part{
    opacity: 0;
    transition: 2s;
}
.content_wraper{
    opacity: 0;
    transition: 2s;
}
.scroll_animation{
    opacity: 1 !important;
    padding: 10px;
}

.navbar{
    background: rgba(37, 103, 131, 0.5);
    backdrop-filter: blur(100px);
}
@media (min-width: 700px) {
    .navbar{
        background: rgba(37, 103, 131, 0.5) !important;
        backdrop-filter: blur(100px);
    }
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ddd;
    text-transform: uppercase;
    font-weight: 700;
}
.logo img{
    height: 25px !important;
}
.navbar .active,.navbar .nav_link:hover{
    color: var(--navbar_active_link) !important;
    border-bottom: 3px solid var(--navbar_active_link) !important;
}
@media (max-width: 700px) {
    .navbar{
        background: none;
    }
}
.landing_part{
    color: var(--hero_color) !important;
    background: var(--hero_bg) !important;
    backdrop-filter: blur(30px);
    overflow: hidden;
}
.services_part{
    background: var(--services_bg) !important;
    padding: var(--containers_padding) !important;
}
.services_part .card{
    background: var(--services_card_color) !important;
}
.services_part .label{
    color: black !important;
}
.services_part p{
    color: black !important;
}
.features{
    background: var(--features_bg) !important;
    padding: var(--containers_padding) !important;
}
.features .card{
    background: var(--features_car_color) !important;
    box-shadow: 2px 4px 10px rgb(242, 215, 215) !important;
}
.protofolio{
    background: var(--protofolio_bg) !important;
    padding: var(--containers_padding) !important;
}
.protofolio .text_container p{
    color: var(--protofolio_text_color_1) !important;
}
.testimonial{
    background: var(--testimonial_bg) !important;
    padding: var(--containers_padding) !important;
}
.about_us{
    background: var(--about_us_bg) !important;
    padding: var(--containers_padding) !important;
}
.skills{
    background: var(--skills_bg) !important;
    padding: var(--containers_padding) !important;
}
.call_to_action_hero{
    color: var(--call_to_action_color) !important;
}
.contact{
    background: var(--contact_bg) !important;
    padding: var(--containers_padding) !important;
}
.price_part{
    height: fit-content !important;
    background: var(--prices_bg) !important;
    padding: var(--containers_padding) !important;
}
.price_part .card{
    background: var(--prices_car ,white) !important;
    box-shadow: 2px 4px 10px rgb(165, 158, 158) !important;
}
.price_part .card i{
    color: var(--prices_icon_color) !important;
}
.price_part .card button{
    color: var(--prices_btn_color) !important;
    background: var(--prices_btn_bg) !important;
}
.price_part .card button:hover{
    color: var(--prices_btn_color) !important;
    background: var(--prices_btn_bg_hover) !important;
}
.price_part .label{
    color: black !important;
}
.price_part p{
    color: black !important;
}
.footer{
    background:var(--footer_bg) !important;
}
.footer p{
    color: rgb(163, 159, 159);
}
.footer .email{
    color: var(--footer_email_color);
}
.label_part .label{
    color:var(--primary_label_color)!important;
    font-size: 30px !important;
}
.colored_text{
    color:var(--text_color) !important;
}
.primary_label{
    color: var(--primary_label_color) !important;
}
.secondry_label{
    color: var(--secondry_label_color) !important;
}
._3d_label{
    color: var(--_3d_label_color) !important;
}
.btn{
    background:var(--btn_bg)!important;
    color:var(--btn_color)!important;
    transition: .5s;
}
.btn:hover{
    background:var(--btn_bg_hover)!important;
    color:var(--btn_color)!important;
    transform: scale(1.05) !important;
}