*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.testimonial{
    width: 100%;
    height: fit-content;
    background: #ededed;
}
.testimonial .container{
    max-width: 1000px;
    height: 100%;
    margin: auto;
    padding: 10;
}
.testimonial .container .label_part{
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 30px 0;
}
.testimonial .container .label_part .label{
    text-transform: uppercase;
    color: #79cdd8;
    font-weight: bolder;
}
.testimonial .container .label_part p{
    padding: 10px 0;
    text-transform: capitalize;
    margin: 10px 0;
    color: #494949;
}
.testimonial .container .label_part .subrater{
    width: 40px;
    height: 2px;
    background: none;
    margin: auto;
    margin-bottom: 70px;
    border: 3px solid #79cdd8;
}
.testimonial .container .content_part{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    opacity: 1 !important;
}
.testimonial .container .content_part .card{
    position: relative;
    width: 22%;
    height: 370px;
    background: #ffffff;
    position: relative;
    text-align: center;
    border-radius: 6px;
    transition: 0.5s;
    z-index: 0;
    border-top: 4px solid #80bed8;
    box-shadow: 3px 4px 6px #9fa09f;

}
.testimonial .container .content_part .card .star{
    color: #80bed8;
    transition: .3s;
}
.testimonial .container .content_part .card .star:hover{
    color: #80bed8;
    transform: scale(1.3);
    text-shadow: 3px 6px 5px #09a54a;
}
.testimonial #show_project_btn{
    width: fit-content;
    padding: 5px 15px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    background: #7e989e !important;
    color: black !important;
}
.testimonial #show_project_btn:hover{
    background: rgb(201, 166, 166);
}
.testimonial #show_project_btn:active{
    background: gray;

}
.testimonial .container .content_part .card:hover{
    box-shadow: 3px 4px 6px #09a54a;
    transform: scale(1.03);
    transform: rotate(2deg);
    border-bottom: 10px solid #80bed8;
}
@media(max-width:700px){
    .testimonial .container .content_part{
        flex-direction: column;
    }
    .testimonial .container .content_part .card{
        width: 80%;
        margin: auto;
        margin-bottom: 90px;
    }
    .testimonial .container .content_part .card:hover{
        box-shadow: 3px 4px 6px #09a54a;
    }
}
.testimonial .container .content_part .card img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: 0px 0px 13px #09a54a;
    transition: .5s;
    border: 2px solid #79cdd8;
    border-left: 2px solid #80bed8;
    border-right: 2px solid #80bed8;
}
.testimonial .container .content_part .card img:hover{
    width: 90%;
    height: 90%;
    top: -20%;
    left: 50%;
    transform: translate(-50%,0%);
    border-radius: 10px;
    z-index: 99;
    border: 2px solid #79cdd8;
    border-bottom: 3px solid #80bed8;
    border-top: 10px solid #80bed8;
}
.testimonial .container .content_part .card .quote{
    width: 100%;
    height: fit-content;
    color: #79cdd8;
    font-size: 14px;
    display: block;
    padding: 25px 30px;
}
.testimonial .container .content_part .card .fa-quote-left{
    text-align: start;
    padding-top: 60px;
}
.testimonial .container .content_part .card .fa-quote-right{
    text-align: end;
}
.testimonial .container .content_part .card .label{
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    color: #494949;
}
.testimonial .container .content_part .card p{
    width: 80%;
    height: fit-content;
    margin: auto;
    margin-bottom: 10px;
    color: #585555;
}