*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.landing_part{
    width: 100%;
    height: 100vh;
    background: #fff;
}
.landing_part .layer{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.3);
    backdrop-filter: blur(3px);
    display: block;
    z-index: 2;
}
.landing_part .container{
    max-width: 1000px;
    height: 100%;
    margin: auto;
    padding: 10px;
    position: relative;
}
.landing_part .text_container{
    width: 50%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 10px;
    z-index: 2;
}
.landing_part .text_container .label{
    text-transform: uppercase;
    padding: 10px 0;
    color: #fff;

}
.landing_part .text_container p{
    line-height: 1.2;
    color: #eee;
    margin: 15px 0;
}
.landing_part .text_container .btn{
    display: block;
    width: fit-content;
    padding: 5px 40px;
    margin-top: 30px;
    background: #7391ff;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    transition: .5s;
}
.landing_part .text_container .btn:hover{
    background: #1e3daf;
    color: white;
}
.landing_part .image_wrapper{
    display: block;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 500px;
    height: fit-content;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    overflow: hidden;

}
.landing_part img{
    display: block;
    width: 100%;
    opacity: .8;
    position: relative;
    z-index: 1;
}
@media (max-width: 700px) {
    .landing_part .text_container{
        width: 80%;
        height: fit-content;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-30%);
        padding: 0 10px;
        text-align: center;
    }
    .landing_part .text_container a{
        margin: auto;
        margin-top: 30px;
    }
    .landing_part img{
        opacity: 1;
    }
    .landing_part .layer{
        display: block;
    }
}